# Care4Kids enrollment

Checking out the claim that enrollment is dropping (25% July 2016 to 2017) since cuts to program.

In [17]:
import pandas as pd
from calendar import month_name

In [18]:
muni_col = "Municipality"
tot_col = "Total \n(This is a distinct count, not a sum of the columns)"

def get_data(month,year):
    
    fname = "data/" + month_name[month] + "-"+ str(year) +"-Excel.xls"
    
    try:
        df = pd.read_excel(fname,skiprows=10)
    except: 
        df = pd.read_excel(fname + "x",skiprows=10)
        
    return df[[muni_col,tot_col]]

get_data(1,2016)

,Municipality,"Total (This is a distinct count, not a sum of the columns)"
0,ANDOVER,7
1,ANSONIA,201
2,ASHFORD,9
3,AVON,8
4,BARKHAMSTED,4
5,BEACON FALLS,12
6,BERLIN,28
7,BETHANY,6
8,BETHEL,45
9,BETHLEHEM,5
10,BLOOMFIELD,143
11,BOLTON,1
12,BOZRAH,7
13,BRANFORD,72
14,BRIDGEPORT,1986
15,BRIDGEWATER,0
16,BRISTOL,401
17,BROOKFIELD,29
18,BROOKLYN,33
19,BURLINGTON,3
20,CANAAN,13
21,CANTERBURY,8
22,CANTON,13
23,CHAPLIN,5
24,CHESHIRE,31
25,CHESTER,5
26,CLINTON,44
27,COLCHESTER,36
28,COLEBROOK,2
29,COLUMBIA,9
...,...,...
140,THOMPSON,24
141,TOLLAND,20
142,TORRINGTON,237
143,TRUMBULL,33
144,UNION,0
145,VERNON,244
146,VOLUNTOWN,8
147,WALLINGFORD,212
148,WARREN,2
149,WASHINGTON,3
150,WATERBURY,1516
151,WATERFORD,39
152,WATERTOWN,74
153,WEST HARTFORD,119
154,WEST HAVEN,577
155,WESTBROOK,21
156,WESTON,2
157,WESTPORT,14
158,WETHERSFIELD,81
159,WILLINGTON,12
160,WILTON,3
161,WINCHESTER,67
162,WINDHAM/WILLIMANTIC,276
163,WINDSOR,185
164,WINDSOR LOCKS,61
165,WOLCOTT,46
166,WOODBRIDGE,7
167,WOODBURY,5
168,WOODSTOCK,14
169,Total,20043

In [22]:
# get wealth rank of towns
def get_wealth_data():
    
    df = pd.read_excel("data/wealth rank.xls",skiprows=15)
    
    return df

def get_wealth(town):
    
    df = get_wealth_data()
    
    return df[df["Name"].str.strip() == str(town).upper().strip()]


def get_wealth_rank(town):
    ret = get_wealth(town)
    
    if len(ret.index) != 1: return None
    return int(ret.reset_index().iloc[0]["Rank"])

get_wealth_data()
get_wealth("Ansonia")
get_wealth_rank("Ansonia")

162

In [23]:
def get_total(month,year):
    
    df = get_data(month,year)
    
    return int(df[df[muni_col] == "Total"][tot_col])

get_total(7,2017)

15390

In [36]:
def get_yoy():
    
    ret = []
    for y in [2015,2016,2017]:
        row = {"year":y}
        for m in range(1,12):
            tot = get_total(m,y)
            #print y, m, ":",tot
            row[m] = get_total(m,y)
        ret.append(row)
    return pd.DataFrame(ret)
            
get_yoy()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

,1,2,3,4,5,6,7,8,9,10,11,year
0,19561,20176,20212,20372,20499,21777,21083,20822,18821,18904,19321,2015
1,20043,20093,21067,21440,21421,22848,22874,22957,19517,19103,19381,2016
2,18275,17360,17098,16640,16276,17130,15390,16315,13976,13223,13319,2017

In [37]:
# Check the 2016 to 2017 percentage for each month

month_diffs = get_yoy().set_index("year").transpose()
month_diffs["diff"] = month_diffs[2016] - month_diffs[2017]
month_diffs["diff_pct"] = month_diffs["diff"]/month_diffs[2016]

month_diffs

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

year   2015   2016   2017  diff  diff_pct
1     19561  20043  18275  1768  0.088210
2     20176  20093  17360  2733  0.136018
3     20212  21067  17098  3969  0.188399
4     20372  21440  16640  4800  0.223881
5     20499  21421  16276  5145  0.240185
6     21777  22848  17130  5718  0.250263
7     21083  22874  15390  7484  0.327184
8     20822  22957  16315  6642  0.289324
9     18821  19517  13976  5541  0.283906
10    18904  19103  13223  5880  0.307805
11    19321  19381  13319  6062  0.312781

In [38]:
def get_towns():
    
    frames = []
    
    for y in [2015,2016,2017]:
        for m in range(1,8):
            
            df = get_data(m,y).set_index(muni_col)
            new_col = str(y) + "-" + str(m)
            df[new_col] = df[tot_col]
            frames.append(df.reset_index()[[muni_col,new_col]])
                    
    ret = frames[0].set_index(muni_col)
    
    for df in frames[1:]:
        ret = ret.join(df.set_index(muni_col))

    # add wealth rank data
    ret["wealth rank"] = ret.index.map(get_wealth_rank)

    return ret

get_towns()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

,2015-1,2015-2,2015-3,2015-4,2015-5,2015-6,2015-7,2016-1,2016-2,2016-3,...,2016-6,2016-7,2017-1,2017-2,2017-3,2017-4,2017-5,2017-6,2017-7,wealth rank
Municipality,,,,,,,,,,,,,,,,,,,,,
ANDOVER,4,4,5,4,7,9,11,7,5,8,...,4,8,4,4,4,4,2,4,4,106.0
ANSONIA,208,215,225,237,236,223,229,201,203,214,...,256,246,234,220,217,215,210,247,167,162.0
ASHFORD,7,9,11,13,11,11,9,9,9,8,...,12,12,10,10,7,7,7,7,7,123.0
AVON,4,4,6,5,5,8,11,8,8,10,...,14,15,12,12,11,10,10,11,8,22.0
BARKHAMSTED,3,3,3,3,3,3,3,4,4,4,...,4,2,0,0,0,0,0,0,0,93.0
BEACON FALLS,21,22,21,18,16,17,21,12,12,11,...,16,14,16,15,17,18,16,20,12,119.0
BERLIN,46,40,37,41,39,33,41,28,28,26,...,28,36,27,24,25,32,31,31,25,65.0
BETHANY,6,6,5,7,7,7,5,6,9,9,...,9,9,4,4,2,2,2,3,3,61.0
BETHEL,40,41,41,41,41,37,41,45,42,47,...,58,52,42,40,42,44,42,47,39,71.0
BETHLEHEM,7,7,7,8,8,10,5,5,5,7,...,7,7,4,5,4,8,5,3,3,62.0
BLOOMFIELD,142,149,156,143,151,154,153,143,139,139,...,161,168,107,109,95,87,95,102,81,81.0
BOLTON,1,2,2,3,2,2,1,1,1,1,...,1,3,3,3,4,4,4,2,1,80.0
BOZRAH,4,7,7,4,6,11,11,7,4,7,...,10,10,4,4,4,4,1,1,1,121.0
BRANFORD,56,54,55,58,48,61,54,72,72,68,...,90,88,73,64,67,61,59,61,60,45.0
BRIDGEPORT,1934,1999,2015,2035,2006,2129,2088,1986,1953,2020,...,2101,2267,1754,1682,1631,1611,1532,1607,1421,166.0
BRIDGEWATER,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13.0
BRISTOL,408,430,415,417,414,444,418,401,391,416,...,469,461,359,344,342,336,324,334,299,138.0
BROOKFIELD,29,30,30,27,30,34,38,29,28,25,...,31,24,25,21,24,19,23,27,28,36.0
BROOKLYN,34,34,36,35,37,32,33,33,32,29,...,41,41,26,31,30,32,31,27,26,148.0
BURLINGTON,2,5,5,5,7,6,7,3,6,7,...,11,11,9,9,9,8,8,8,8,72.0
CANAAN,17,12,12,12,15,16,15,13,11,11,...,13,11,8,9,7,6,8,9,8,50.0
CANTERBURY,10,10,7,7,5,6,7,8,6,4,...,7,4,1,1,1,2,2,2,2,133.0
CANTON,10,10,9,11,12,12,11,13,14,13,...,18,20,14,14,14,12,8,12,11,49.0
CHAPLIN,6,6,3,9,11,9,7,5,5,6,...,5,5,4,4,4,7,6,7,5,132.0
CHESHIRE,16,24,24,35,29,30,29,31,31,38,...,44,45,31,28,26,23,23,23,24,75.0
CHESTER,3,3,2,3,2,1,1,5,5,6,...,6,8,2,2,2,2,2,2,2,68.0
CLINTON,33,37,43,37,45,50,48,44,45,40,...,54,53,37,27,38,37,37,37,31,69.0
COLCHESTER,49,49,47,48,48,54,52,36,41,45,...,50,61,40,41,41,38,36,41,30,117.0
COLEBROOK,3,3,3,3,3,4,0,2,2,2,...,0,2,2,3,0,0,0,2,2,70.0
COLUMBIA,9,7,8,9,14,17,12,9,9,9,...,12,12,10,9,9,12,10,10,9,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
THOMPSON,21,27,25,22,22,23,26,24,20,21,...,18,19,13,13,8,8,8,9,10,139.0
TOLLAND,21,19,19,18,20,20,20,20,25,23,...,26,22,15,10,9,11,12,13,12,78.0
TORRINGTON,219,227,232,231,224,250,230,237,233,256,...,281,278,222,205,199,202,200,201,200,153.0
TRUMBULL,21,23,22,30,30,28,34,33,37,36,...,47,40,43,41,40,39,36,41,35,40.0
UNION,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,77.0
VERNON,205,212,223,225,234,233,234,244,248,248,...,265,281,210,194,196,189,181,191,161,136.0
VOLUNTOWN,3,8,6,7,7,6,5,8,6,6,...,5,5,4,4,4,4,5,6,6,128.0
WALLINGFORD,182,188,190,191,185,204,211,212,210,210,...,222,222,181,182,178,172,174,180,167,96.0
WARREN,3,3,3,5,3,4,4,2,3,0,...,5,2,1,1,1,1,1,1,1,12.0
WASHINGTON,3,3,3,3,3,3,3,3,4,4,...,5,5,4,4,6,6,4,4,4,8.0
WATERBURY,1628,1588,1557,1539,1555,1658,1688,1516,1472,1607,...,1699,1609,1387,1328,1307,1259,1249,1333,1173,165.0
WATERFORD,38,41,45,50,50,58,47,39,38,38,...,49,49,35,33,30,28,25,25,29,33.0
WATERTOWN,75,84,84,77,71,80,79,74,72,72,...,95,90,67,63,64,62,64,61,57,114.0
WEST HARTFORD,119,131,126,125,130,130,123,119,121,125,...,136,132,111,109,106,97,97,109,90,53.0
WEST HAVEN,531,551,560,572,585,614,599,577,474,592,...,632,564,552,521,507,474,495,525,479,160.0
WESTBROOK,12,13,14,13,20,24,24,21,22,20,...,22,15,9,9,6,7,7,7,5,23.0
WESTON,2,2,2,2,2,4,2,2,2,1,...,2,2,1,1,1,1,1,1,1,5.0
WESTPORT,17,17,17,14,15,14,13,14,12,12,...,18,12,7,9,9,9,10,10,9,3.0
WETHERSFIELD,82,98,92,85,84,97,97,81,80,78,...,87,87,70,71,61,62,57,61,51,107.0
WILLINGTON,10,13,18,16,17,18,17,12,12,15,...,15,15,18,17,17,12,11,9,7,126.0
WILTON,2,3,2,2,3,2,3,3,0,2,...,2,2,0,0,0,0,0,2,0,6.0
WINCHESTER,54,54,56,52,56,51,52,67,65,63,...,67,64,42,41,37,39,39,41,42,141.0
WINDHAM/WILLIMANTIC,248,259,261,253,256,285,293,276,281,312,...,321,335,249,253,258,254,245,224,261,NaN
WINDSOR,197,204,209,200,202,218,203,185,186,185,...,189,189,155,149,134,141,145,142,125,95.0
WINDSOR LOCKS,62,63,63,60,56,60,62,61,70,64,...,74,78,48,45,43,43,40,45,39,99.0
WOLCOTT,39,35,34,33,39,45,42,46,43,35,...,40,47,34,34,31,34,33,39,33,120.0
WOODBRIDGE,4,3,6,8,7,7,6,7,9,10,...,5,8,6,5,5,3,3,6,4,26.0
WOODBURY,6,7,11,9,9,7,5,5,6,5,...,5,8,6,5,4,4,4,5,5,47.0
WOODSTOCK,15,17,17,17,17,22,13,14,13,14,...,22,21,13,12,11,10,11,16,17,109.0
Total,19561,20176,20212,20372,20499,21777,21083,20043,20093,21067,...,22848,22874,18275,17360,17098,16640,16276,17130,15390,NaN

In [39]:
def get_diff(month=7):
    
    cols = map(lambda x: str(x) + "-" + str(month),[2015,2016,2017]) + ["wealth rank"]
    
    df = get_towns()[cols]
    
    df["diff"] = df["2016-" + str(month)] - df["2017-" + str(month)]
    df["diff_pct"] = (df["diff"] * 100 /  df["2016-" + str(month)]).round()
    
    return df
    
get_diff().to_csv("output/diff-july-2016-2017.csv")
get_diff()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

                     2015-7  2016-7  2017-7  wealth rank  diff  diff_pct
Municipality
ANDOVER                  11       8       4        106.0     4      50.0
ANSONIA                 229     246     167        162.0    79      32.0
ASHFORD                   9      12       7        123.0     5      42.0
AVON                     11      15       8         22.0     7      47.0
BARKHAMSTED               3       2       0         93.0     2     100.0
BEACON FALLS             21      14      12        119.0     2      14.0
BERLIN                   41      36      25         65.0    11      31.0
BETHANY                   5       9       3         61.0     6      67.0
BETHEL                   41      52      39         71.0    13      25.0
BETHLEHEM                 5       7       3         62.0     4      57.0
BLOOMFIELD              153     168      81         81.0    87      52.0
BOLTON                    1       3       1         80.0     2      67.0
BOZRAH                   11      10       1        121.0     9      90.0
BRANFORD                 54      88      60         45.0    28      32.0
BRIDGEPORT             2088    2267    1421        166.0   846      37.0
BRIDGEWATER               0       0       0         13.0     0       NaN
BRISTOL                 418     461     299        138.0   162      35.0
BROOKFIELD               38      24      28         36.0    -4     -17.0
BROOKLYN                 33      41      26        148.0    15      37.0
BURLINGTON                7      11       8         72.0     3      27.0
CANAAN                   15      11       8         50.0     3      27.0
CANTERBURY                7       4       2        133.0     2      50.0
CANTON                   11      20      11         49.0     9      45.0
CHAPLIN                   7       5       5        132.0     0       0.0
CHESHIRE                 29      45      24         75.0    21      47.0
CHESTER                   1       8       2         68.0     6      75.0
CLINTON                  48      53      31         69.0    22      42.0
COLCHESTER               52      61      30        117.0    31      51.0
COLEBROOK                 0       2       2         70.0     0       0.0
COLUMBIA                 12      12       9         85.0     3      25.0
...                     ...     ...     ...          ...   ...       ...
THOMPSON                 26      19      10        139.0     9      47.0
TOLLAND                  20      22      12         78.0    10      45.0
TORRINGTON              230     278     200        153.0    78      28.0
TRUMBULL                 34      40      35         40.0     5      12.0
UNION                     0       0       0         77.0     0       NaN
VERNON                  234     281     161        136.0   120      43.0
VOLUNTOWN                 5       5       6        128.0    -1     -20.0
WALLINGFORD             211     222     167         96.0    55      25.0
WARREN                    4       2       1         12.0     1      50.0
WASHINGTON                3       5       4          8.0     1      20.0
WATERBURY              1688    1609    1173        165.0   436      27.0
WATERFORD                47      49      29         33.0    20      41.0
WATERTOWN                79      90      57        114.0    33      37.0
WEST HARTFORD           123     132      90         53.0    42      32.0
WEST HAVEN              599     564     479        160.0    85      15.0
WESTBROOK                24      15       5         23.0    10      67.0
WESTON                    2       2       1          5.0     1      50.0
WESTPORT                 13      12       9          3.0     3      25.0
WETHERSFIELD             97      87      51        107.0    36      41.0
WILLINGTON               17      15       7        126.0     8      53.0
WILTON                    3       2       0          6.0     2     100.0
WINCHESTER               52      64      42        141.0    22      34.0
WINDHAM/WILLIMANTIC     293     335     261          NaN    74      22.0
WINDSOR                 203     189     125         95.0    64      34.0
WINDSOR LOCKS            62      78      39         99.0    39      50.0
WOLCOTT                  42      47      33        120.0    14      30.0
WOODBRIDGE                6       8       4         26.0     4      50.0
WOODBURY                  5       8       5         47.0     3      38.0
WOODSTOCK                13      21      17        109.0     4      19.0
Total                 21083   22874   15390          NaN  7484      33.0

[170 rows x 6 columns]

In [40]:
diff_df = get_diff()#

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

In [41]:
print diff_df[["2016-7","2017-7","diff","diff_pct","wealth rank"]].to_csv(sep="\t")

Municipality	2016-7	2017-7	diff	diff_pct	wealth rank
ANDOVER	8	4	4	50.0	106.0
ANSONIA	246	167	79	32.0	162.0
ASHFORD	12	7	5	42.0	123.0
AVON	15	8	7	47.0	22.0
BARKHAMSTED	2	0	2	100.0	93.0
BEACON FALLS	14	12	2	14.0	119.0
BERLIN	36	25	11	31.0	65.0
BETHANY	9	3	6	67.0	61.0
BETHEL	52	39	13	25.0	71.0
BETHLEHEM	7	3	4	57.0	62.0
BLOOMFIELD	168	81	87	52.0	81.0
BOLTON	3	1	2	67.0	80.0
BOZRAH	10	1	9	90.0	121.0
BRANFORD	88	60	28	32.0	45.0
BRIDGEPORT	2267	1421	846	37.0	166.0
BRIDGEWATER	0	0	0		13.0
BRISTOL	461	299	162	35.0	138.0
BROOKFIELD	24	28	-4	-17.0	36.0
BROOKLYN	41	26	15	37.0	148.0
BURLINGTON	11	8	3	27.0	72.0
CANAAN	11	8	3	27.0	50.0
CANTERBURY	4	2	2	50.0	133.0
CANTON	20	11	9	45.0	49.0
CHAPLIN	5	5	0	0.0	132.0
CHESHIRE	45	24	21	47.0	75.0
CHESTER	8	2	6	75.0	68.0
CLINTON	53	31	22	42.0	69.0
COLCHESTER	61	30	31	51.0	117.0
COLEBROOK	2	2	0	0.0	70.0
COLUMBIA	12	9	3	25.0	85.0
CORNWALL	1	1	0	0.0	14.0
COVENTRY	24	16	8	33.0	110.0
CROMWELL	44	37	7	16.0	79.0
DANBURY	543	321	222	41.0	122.0
DARIEN	9	4	5	56.0	4.0
DEEP RIVER	12	5	7	58.0	83.0
DERBY	123	78	45	37.0	158.0
DURHAM	7	4	3	43.0	56.0
EAST GRANBY	19	2	17	89.0	73.0
EAST HADDAM	19	9	10	53.0	87.0
EAST HAMPTON	41	31	10	24.0	84.0
EAST HARTFORD	740	411	329	44.0	159.0
EAST HAVEN	178	152	26	15.0	145.0
EAST LYME	34	31	3	9.0	66.0
EAST WINDSOR	78	60	18	23.0	115.0
EASTFORD	1	2	-1	-100.0	108.0
EASTON	1	0	1	100.0	19.0
ELLINGTON	37	16	21	57.0	97.0
ENFIELD	346	246	100	29.0	143.0
ESSEX	6	6	0	0.0	25.0
FAIRFIELD	43	23	20	47.0	16.0
FARMINGTON	49	23	26	53.0	29.0
FRANKLIN	4	4	0	0.0	86.0
GLASTONBURY	54	33	21	39.0	35.0
GOSHEN	9	8	1	11.0	34.0
GRANBY	8	4	4	50.0	54.0
GREENWICH	59	41	18	31.0	1.0
GRISWOLD	70	40	30	43.0	150.0
GROTON	215	131	84	39.0	104.0
GUILFORD	20	9	11	55.0	31.0
HADDAM	11	3	8	73.0	60.0
HAMDEN	337	266	71	21.0	135.0
HAMPTON	5	2	3	60.0	124.0
HARTFORD	2186	1367	819	37.0	169.0
HARTLAND	2	2	0	0.0	101.0
HARWINTON	3	1	2	67.0	64.0
HEBRON	23	12	11	48.0	98.0
KENT	6	1	5	83.0	28.0
KILLINGLY	106	76	30	28.0	147.0
KILLINGWORTH	5	4	1	20.0	39.0
LEBANON	17	9	8	47.0	111.0
LEDYARD	60	38	22	37.0	116.0
LISBON	14	9	5	36.0	113.0
LITCHFIELD	5	6	-1	-20.0	41.0
LYME	4	3	1	25.0	15.0
MADISON	8	7	1	12.0	24.0
MANCHESTER	556	400	156	28.0	137.0
MANSFIELD	26	13	13	50.0	156.0
MARLBOROUGH	14	5	9	64.0	82.0
MERIDEN	797	538	259	32.0	157.0
MIDDLEBURY	13	6	7	54.0	48.0
MIDDLEFIELD	7	7	0	0.0	76.0
MIDDLETOWN	363	216	147	40.0	131.0
MILFORD	103	59	44	43.0	52.0
MONROE	34	17	17	50.0	46.0
MONTVILLE	79	64	15	19.0	144.0
MORRIS	6	3	3	50.0	44.0
NAUGATUCK	286	185	101	35.0	154.0
NEW BRITAIN	1138	751	387	34.0	167.0
NEW CANAAN	13	8	5	38.0	2.0
NEW FAIRFIELD	18	15	3	17.0	51.0
NEW HARTFORD	4	4	0	0.0	92.0
NEW HAVEN	2346	1820	526	22.0	161.0
NEW LONDON	369	231	138	37.0	164.0
NEW MILFORD	142	93	49	35.0	74.0
NEWINGTON	104	54	50	48.0	105.0
NEWTOWN	21	10	11	52.0	43.0
NORFOLK	9	4	5	56.0	30.0
NORTH BRANFORD	40	25	15	38.0	88.0
NORTH CANAAN	11	6	5	45.0	127.0
NORTH HAVEN	46	35	11	24.0	59.0
NORTH STONINGTON	22	3	19	86.0	94.0
NORWALK	400	256	144	36.0	38.0
NORWICH	415	298	117	28.0	163.0
OLD LYME	3	1	2	67.0	20.0
OLD SAYBROOK	13	7	6	46.0	21.0
ORANGE	11	7	4	36.0	32.0
OXFORD	18	14	4	22.0	58.0
PLAINFIELD	103	68	35	34.0	151.0
PLAINVILLE	75	59	16	21.0	129.0
POMFRET CENTER	14	13	1	7.0
PORTLAND	39	17	22	56.0	90.0
PRESTON	6	7	-1	-17.0	118.0
PROSPECT	17	16	1	6.0	103.0
PUTNAM	92	56	36	39.0	155.0
REDDING	1	0	1	100.0	18.0
RIDGEFIELD	8	1	7	88.0	10.0
ROCKY HILL	48	32	16	33.0	67.0
ROXBURY	2	0	2	100.0	7.0
SALEM	13	6	7	54.0	91.0
SALISBURY	1	3	-2	-200.0	9.0
SCOTLAND	1	1	0	0.0	140.0
SEYMOUR	92	54	38	41.0	130.0
SHARON	5	2	3	60.0	11.0
SHELTON	117	95	22	19.0	57.0
SHERMAN	3	0	3	100.0	17.0
SIMSBURY	31	8	23	74.0	42.0
SOMERS	15	10	5	33.0	125.0
SOUTH WINDSOR	40	37	3	8.0	63.0
SOUTHBURY	18	12	6	33.0	55.0
SOUTHINGTON	119	84	35	29.0	100.0
SPRAGUE	22	13	9	41.0	149.0
STAFFORD	50	30	20	40.0	142.0
STAMFORD	523	320	203	39.0	27.0
STERLING	13	13	0	0.0	152.0
STONINGTON	91	49	42	46.0	37.0
STRATFORD	303	265	38	13.0	112.0
SUFFIELD	24	16	8	33.0	102.0
TERRYVILLE	43	29	14	33.0
THOMASTON	36	25	11	31.0	134.0
THOMPSON	19	10	9	47.0	139.0
TOLLAND	22	12	10	45.0	78.0
TORRINGTON	278	200	78	28.0	153.0
TRUMBULL	40	35	5	12.0	40.0
UNION	0	0	0		77.0
VERNON	281	161	120	43.0	136.0
VOLUNTOWN	5	6	-1	-20.0	128.0
WALLINGFORD	222	167	55	25.0	96.0
WARREN	2	1	1	50.0	12.0
WASHINGTON	5	4	1	20.0	8.0
WATERBURY	1609	1173	436	27.0	165.0
WATERFORD	49	29	20	41.0	33.0
WATERTOWN	90	57	33	37.0	114.0
WEST HARTFORD	132	90	42	32.0	53.0
WEST HAVEN	564	479	85	15.0	160.0
WESTBROOK	15	5	10	67.0	23.0
WESTON	2	1	1	50.0	5.0
WESTPORT	12	9	3	25.0	3.0
WETHERSFIELD	87	51	36	41.0	107.0
WILLINGTON	15	7	8	53.0	126.0
WILTON	2	0	2	100.0	6.0
WINCHESTER	64	42	22	34.0	141.0
WINDHAM/WILLIMANTIC	335	261	74	22.0
WINDSOR	189	125	64	34.0	95.0
WINDSOR LOCKS	78	39	39	50.0	99.0
WOLCOTT	47	33	14	30.0	120.0
WOODBRIDGE	8	4	4	50.0	26.0
WOODBURY	8	5	3	38.0	47.0
WOODSTOCK	21	17	4	19.0	109.0
Total	22874	15390	7484	33.0

In [42]:
### get_diff()[get_diff()["2016-7"] > 100].sort_values(by="diff_pct",ascending=False)

In [43]:
get_diff()[get_diff()["2016-7"] > 100][["wealth rank","diff_pct"]].corr()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

             wealth rank  diff_pct
wealth rank     1.000000 -0.183566
diff_pct       -0.183566  1.000000

In [44]:
# Correlation between wealth rank and enrollment is pretty strong
get_diff()[["wealth rank","2016-7"]].corr()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

             wealth rank    2016-7
wealth rank     1.000000  0.422707
2016-7          0.422707  1.000000

In [45]:
# corr between difference pct and wealth rank is negative, not as strong
get_diff()[get_diff()["2016-7"] > 100][["wealth rank","diff_pct"]].corr()

WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)
WARNING *** file size (98176) not 512 + multiple of sector size (512)

             wealth rank  diff_pct
wealth rank     1.000000 -0.183566
diff_pct       -0.183566  1.000000